<div class="jumbotron">
  <h1 class="text-center"><%= sanitize @post.title %></h1>
  <div class="text-justify">
    <%= sanitize @post.text, attributes: %w(href target id) %>
  </div>

  <% if user_signed_in? && current_user.is_admin? %>
        <%= link_to('Edit', edit_post_path(@post), class: 'btn btn-primary' ) %>
  <% end %>

</div>