<div class="jumbotron">
  <h1 class="text-center"><%= sanitize @post.title %></h1>
  <div class="text-justify">
    <%= sanitize @post.text %>
  </div>
</div>

<div class="jumbotron">
  <h1>Services to the profession</h1>
  <br>

  <h2>dialectica</h2>
  <p>Since 1999, I am managing editor of the Swiss philosophy journal <a href="http://dialectica.philosophie.ch/">dialectica</a>, since 2004 published by Blackwell-Wiley. Founded in 1947 by Bachelard, Bernays and Gonseth, <b>dialectica</b> is now one of the best academic philosophy journals edited on the European Continent. Since 1999, I have been taking care of its day-to-day functioning, as well as the contact with authors and referees, and reading and evaluating (almost) every article. A year before <b>dialectica</b>'s long-time editor Henri Lauener died in 2002, I started collaborating with Gianfranco Soldati, appointed in 2000 to the University of Fribourg. Together, we managed to get <b>dialectica</b> published by Blackwell-Wiley and reduced the acceptance rate from over 20 % to 8 % (while the number of submissions tripled). Subsequently, I continued to work as managing editor and co-editor with Pascal Engel and then Marcel Weber: during this period, the number of submissions doubled again, now ranging from 250 to 300 per year, while we further reduced the acceptance rate to almost 8% and the median turnaround time to about 3 months. Dialectica is now ranked “A” in the European Research Index of the Humanities and the Australian Research Council’s ERA, is accessible to 5005 institutions worldwide and had about 38’264 full article downloads in 2017.
    <br>
    <br>

  <h2>outreach</h2>
  <p>I have undertaken two other initiatives to connect academic philosophy with the world outside the ivory tower:
  <ul>
    <li><a href="decouvrir.php">D&eacute;couvrir la Philosophie</a> -- Portes Ouvertes au Laboratoire d'Exp&eacute;riences de Pens&eacute;e du D&eacute;partement de Philosophie de l'Universit&eacute; de Gen&egrave;ve, a highly successful serious of Saturday-afternoon introductions to some of the problems of our discipline;
    <li><a href="http://www.philosophie.ch/philomaton-mobile/">Le Philomaton Mobile</a>, a virtual laboratory, where anyone can ask questions or make comments, and philosophers answer or react.
  </ul>
  <br>


  <h2>www.philosophie.ch</h2>
  <p><a href="http://www.philosophie.ch"><b>www.philosophie.ch</b></a>, the Swiss Portal for philosophy, is an outreach project I started in 2002. It aims at making available under one adress all information relevant to philosophy in Switzerland:
  <ul>
    <li>to provide academics with a quick overview over colloquia, talks and other activities of Swiss philosophy departments;
    <li>to offer to high-school students and other people interested in pursuing philosophy at university level up-to-date and authoritative information about their possibilities, the offers of the Swiss philosophy departments and their respective requirements;
    <li>to further the contacts between philosophical academia and the broader public, by offering to people generally interested in philosophy high-quality information about philosophy as pursued academically.
  </ul>
  <p>The portal is widely used (more than 12’500 visits per month, excluding robots et al) and generously funded, both by the philosophy departments and private institutions, mostly by the Charles Hummer foundation, having now a annual turnaround of about 150’000 CHF. The internet portal <a href="http://www.philosophie.ch"><b>www.philosophie.ch</b></a> is unique in its reach and professionality and has substantially contributed to the development of Swiss academic philosophy.
    <br>
    <br>



  <h2>ousia, the Centre for the Philosophy and Theology of Being at the University of Lucerne</h2>
  <p>In Lucerne, I have founded <b>ousia</b>, an institutionally recognised umbrella for the research activities of the philosophers working in ancient, medieval philosophy and the philosophy of religion in Lucerne, the SNSF project "Ontologie in der Schweiz" and the Doctoral Programme of the same name. LINK TO THE WORKSHOPS PAGE
    <br>
    <br>

  <h2>eidos, the Centre for Metaphysics at the University of Geneva</h2>
  <p>In 2007, I founded <b>eidos</b>, the Centre for Metaphysics at the University of Geneva. Under the direction of Kevin Mulligan and Fabrice Correia, I've been its scientific coordinator for about 7 years.  I have also been coordinating one of its three founding research projects, the Swiss National Science Foundation  project "Properties and Relations" (the largest post-doc project ever funded in the humanities by the SNSF), and was involved in the Sinergia project "Intentionality - the Mark of the Mental", involving three PhD students and the Marie Curie Initial Training Network funded by the FP7 "The Perspectivality of Thoughts and Facts" including (in Geneva) one PhD student. I have worked in the SNF-sponsored project "Fundamentality".
    <br>
    <br>
  <h2>Fundraising</h2>
  <p>Over the years, I have been particularly active in fundraising, on the local, national and international level, raising a total of 3'088'387 CHF for the University of Geneva (much more, unfortunately, than my salary over this time!), 650'000 of which was conference money, particularly difficult to get. Not listed are the numerous research projects I have been involved with in my role as a "research consultant" at the University of Lausanne.
  <ul>
    <li>SNF projects:
      <ul>
        <li>2009: Sinergia application "Intentionality - the Mark of the Mental" (with Olivier Massin and Graham Peebles) <b>accepted</b></li>
        <li>2009: "Fundamentality", <b>accepted</b></li>
        <li>2008: Sinergia application "Time, Substance, Self. Reconciling common sense and contemporary science" (with Olivier Massin and Michael Esfeld), <b>withdrawn</b></li>
        <li>2007: SNF pro-doc application "The (Meta-)Metaphysics of Properties and Relations" (research module PDFM1-118626, 277840 CHF) (with Fabrice Correia), <b>accepted</b></li>
        <li>2007: SNF project application "Properties and Relations" (100011-113688,  458854 CHF) (with Stephan Leuenberger, Christian W&uuml;thrich, Vincent Lam, Fabian Dorsch, Andri T&ouml;ndury), <b>accepted</b></li>
      </ul>
    <li>SNF summer schools
      <ul>
        <li>2013: SNF graduate school "Lesser Entities" (FNS 101112-147361, 25000 CHF), <b>accepted</b></li>
        <li>2012: SNF graduate school "The Metaphysics of Representation" (FNS 101115-141421, 25000 CHF), <b>accepted</b></li>
        <li>2011: SNF graduate school "Fundamentality and Perspectivality" (FNS 101111-135419, 25000 CHF), <b>accepted</b></li>
        <li>2009: SNF graduate school "The Metaphysics of Time" (FNS 101111-125090, 25000 CHF, <b>accepted</b></li>
        <li>2008: SNF graduate school "Modalities: essence, necessity, and other adverbial modifiers" (FNS 101111-120494, 25000 CHF),<b>accepted</b></li>
        <li>2007: SNF graduate school "Properties and Relations" (FNS 101111-116566, 25000 CHF), <b>accepted</b></li>
        <li>2006: SNF graduate school "Mind and Metaphysics" (FNS 101111-112120, 25000 CHF), <b>accepted</b></li>
        <li>2004: SNF graduate school "Abstract Entities" (FNS 101111-103468 , 25000 CHF), <b>accepted</b></li>
      </ul>
    <li>European Science Foundation:
      <ul>
        <li>2012: Marie Curie Intra-European Fellowship (IEF) "A World of Perspectives", <b>rejected</b></li>
        <li>2008: ERC starting independent researcher grant "Time and Substance - Reconciling Common Sense and Contemporary Physics" (with, and for, Fabrice Correia), <b>rejected</b></li>
        <li>2008: Marie Curie Initial Training Networks (ITN) "Perspectival Thoughts and Facts" [Barcelona, St. Andrews, Geneva, Paris, London, Stockholm, Budapest], <b>accepted</b></li>
        <li>2008: ESF network programme "The Metaphysics of Properties"  (with Olivier Massin, Akiko Frischhut),  <b>accepted</b></li>
        <li>2008: ESF eurocores programme proposal "The Values of Science",, <b>rejected</b></li>
        <li>2008: ERC advanced investigator grant "The Metaphysics of Emotions" (for Kevin Mulligan), <b>rejected</b>
        <li>2007: ESF network programme "The Metaphysics of Properties", <b>rejected</b></li>
        <li>2007: ESF eurocores programme proposal "The Metaphysics in/of Science", <b>rejected</b></li>
        <li>2007: ERC starting independent researcher grant "Essence and Modality" (with Fabrice Correia), <b>rejected</b></li>
        <li>2006: ESF network programme "Properties and Make-Belief"  (with Luc Schneider), <b>rejected</b></li>
      </ul>
    <li>Private foundations:
      <ul>
        <li>2012: Fondation Charles Hummel, for <a href="http://www.philosophie.ch">www.philosophie.ch, (80'000 CHF), <b>accepted</b></li>
        <li>2011: Fondation Charles Hummel, for <a href="http://www.philosophie.ch">www.philosophie.ch, (30'000 CHF), <b>accepted</b></li>
        <li>2008: Fondation Boninchi, "Fundamentality", <b>rejected</b></li>
        <li>2008: Centro Stefano Franscini , "Fundamentality" (with Stephan Leuenberger), <b>rejected</b></li>
      </ul>
    <li>University:
      <ul>
        <li>2012: CRUS doctoral school (140000 CHF), <b>accepted</b></li>
        <li>2007: e-learning project "e-philosophie", University of Geneva (72000 CHF) (<a href="../docs/elarning.pdf">pdf</a>), <b>accepted</b></li>
        <li>2005: Virtual Campus "e-philosophy", <b>rejected</b></li>
      </ul>
  </ul>
  <br>
</div>